# Build Output
dist
/build
/out
.next
.vscode
.DS_Store
.env
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

#firebase
/functions
.firebaserc
database.rules.json
firebase.json
storage.rules
cors.json
database.json