# Build Output
dist
/build
/out
.next
.vscode
.DS_Store
.env
npm-debug.log*
tummour-original-export.json

# Dependencies
node_modules/
package-lock.json

#firebase
/functions
/.firebase
.firebaserc
database.rules.json
firebase.json
storage.rules
cors.json
database.json