@font-face {
    font-family: 'psl_kanda';
    src: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Ffonts%2FPSL-Kanda.eot?alt=media&token=7dfbb30f-dceb-42a1-b917-f5cfbd874322') format('eot'),
         url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Ffonts%2FPSL-Kanda.woff?alt=media&token=cbf2da74-a3fe-4e85-8bd2-ef4f53acb0a7') format('woff'),
         url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Ffonts%2FPSL-Kanda.svg?alt=media&token=3c6978e4-6356-4c9b-919e-400c55267d99') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: 'psl_kanda', sans-serif;
	text-rendering: optimizeLegibility;
	body {
		margin: 0;
	}
}

img {max-width: 100%;}

a, a:active, a:focus, a:hover {
	outline: none;
	text-decoration: none;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
    display: block;
}

ul {
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p {margin: 0;}

.container {
	width: 996px;
	margin: 0 auto;
	overflow: hidden;
}

.clear {
	clear: both;
}

// color
$red: #ff0505;
$gray: #303030;
$black: #000000;
$white: #ffffff;

// breakpoint
$MQs: true;

@mixin breakpoint($point) {
  	@if ($MQs) {
	    $bp-mobile: "(max-width: 40em)";
        $bp-mobile-wide: "(max-width: 60em)";
	    $bp-tablet: "(max-width: 70em)";
	    $bp-tablet-wide: "(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)";
	    $bp-desktop: "(max-width: 100em)";
	    $bp-over: "(min-width: 1460px)";

	  	
	    @if $point == desktop {
	      	@media #{$bp-desktop} { @content; }
	    }
	    @else if $point == tablet {
	      	@media #{$bp-tablet} { @content; }
	    }
	    @else if $point == tablet-wide {
	      	@media #{$bp-tablet-wide} { @content; }
	    }
	    @else if $point == mobile {
	      	@media #{$bp-mobile}  { @content; }
	    }
        @else if $point == mobile-wide {
            @media #{$bp-mobile-wide}  { @content; }
        }
	    @else if $point == over {
	      	@media #{$bp-over} { @content; }
	    }
  	}
}

// clearfix
%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
		clear: both;
	}
	&:after {
		clear: both;
	}
}

// pseudo
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


// Responsive ratio
@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// fontsize
@mixin font-size($size) {
	font-size: $size * 1px;
	font-size: $size * 0.1rem;
}