.contactinfo {
	padding-bottom: 25px;
	.contactbanner {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-contact.jpg?alt=media&token=191db863-bbb3-47ff-ae1e-ac2113557487');
		background-size: cover;
		background-attachment: fixed;
		display: block;
		@include breakpoint(mobile) {
			display: none;
		}
	}
	.contactbanner-mb {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-contact.jpg?alt=media&token=191db863-bbb3-47ff-ae1e-ac2113557487');
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		display: none;
		@include breakpoint(mobile) {
			display: block;
		}
	}
	.container {
		@include breakpoint(tablet) {
			width: 85%;
			margin: 0 auto;
		}
		ul {
			padding-top: 20px;
			li {
				display: inline-block;
				padding: 0 20px;
				@include breakpoint(mobile) {
					display: block;
					padding: 0;
				}
				&.contact-address {
					width: 60%;
					vertical-align: top;
					@include breakpoint(tablet) {
						width: 57%;
					}
					@include breakpoint(tablet-wide) {
						width: 60%;
					}
					@include breakpoint(mobile) {
						width: 100% !important;
					}
					@include breakpoint(mobile-wide) {
						width: 53%;
					}
					img {
						width: 120px;
					}
					h3 {
						color: $white;
						margin-top: 15px;
						span {
							font-weight: 100;
						}
					}
					.ggmap {
						margin-top: 15px;
					}
				}
				&.contact-form {
					width: 30%;
					@include breakpoint(mobile) {
						width: 100% !important;
						margin-top: 40px;
					}
					@include breakpoint(mobile-wide) {
						width: 32%;
					}
					img {
						width: 220px;
					}
					form {
						margin-top: 20px;
						input {
							font-family: psl_kanda;
							@include font-size(12);
							width: 96%;
							margin-bottom: 15px;
							padding: 5px;
						}
						textarea {
							font-family: psl_kanda;
							@include font-size(12);
							width: 96%;
							padding: 5px;
						}
						.contact-btn {
							float: right;
							margin-top: 20px;
							button {
								font-family: psl_kanda;
								@include font-size(12);
								margin: 5px 0 0 10px;
								cursor: pointer;
								&.btn-reset {
									background: $gray;
									color: $white;
									border: 0;
									padding: 5px 30px;
									&:hover {
										background: $white;
										color: $gray;
										transition: 0.5s;
									}
								}
								&.btn-submit {
									background: $green;
									color: $white;
									padding: 5px 30px;
									border: 0;
									&:hover {
										background: $white;
										color: $green;
										transition: 0.5s;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}