.contactsns {
	background: $gray;
	padding: 25px 0;
	text-align: center;
	.container {
		@include breakpoint(tablet) {
			width: 85%;
			margin: 0 auto;
		}
		img {
			width: 180px;
		}
		ul {
			li.each-sns {
				display: inline-block;
				margin: 0 50px;
				ul {
					li {
						list-style: none;
						&.sns-text {
							margin: 15px 0;
							a {
								color: $white;
								&:hover {
									color: $black;
									transition: 0.5s;
								}
								i {
									display: inline;
								}
								h2 {
									display: inline;
									font-weight: 100;
									margin-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}