.footer {
	position: relative;
	margin-top: -61px;
	@include breakpoint(mobile) {
		margin-top: -18px;
	}
	@include breakpoint(over) {
		margin-top: -80px;
	}
	img {
		display: block;
	}
	.footer-info {
		position: absolute;
		top: 84px;
		width: 100%;
		margin: 0 auto;
		@include breakpoint(tablet) {
			top: 35px;
		}
		@include breakpoint(tablet-wide) {
			top: 55px;
		}
		@include breakpoint(mobile) {
			top: 7px !important;
		}
		@include breakpoint(mobile-wide) {
			top: 31px;
		}
		@include breakpoint(over) {
			top: 135px;
		}
		.container {
			@include breakpoint(tablet) {
				width: 90%;
				margin: 0 auto;
			}
			ul.social-icons {
				text-align: center;
				li {
					display: inline-block;
					padding: 0 20px;
					@include breakpoint(mobile) {
						padding: 0 8px;
					}
					a {
						color: $white;
						&:hover {
							color: $black;
						}
						i {
							display: inline;
							margin-right: 10px;
							@include font-size(10);
							@include breakpoint(mobile) {
								@include font-size(6);
							}
						}
						h2 {
							display: inline;
							font-weight: 100;
							@include breakpoint(mobile) {
								@include font-size(10);
							}
						}
					}
				}
			}
			.copyright {
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				@include breakpoint(tablet) {
					margin-top: -14px;
				}
				@include breakpoint(tablet-wide) {
					margin-top: -5px;
				}
				@include breakpoint(mobile-wide) {
					margin-top: -17px;
				}
				@include breakpoint(mobile) {
					margin-top: -16px;
					@include font-size(5);
				}
				i {
					@include font-size(7);
					@include breakpoint(mobile) {
						@include font-size(2);
					}
				}
			}
		}
	}
}