.footer {
	position: relative;
	margin-top: -56px;
	img {
		margin-bottom: -5px;
	}
	.footer-info {
		position: absolute;
		top: 90px;
		width: 100%;
		margin: 0 auto;
		ul.social-icons {
			text-align: center;
			li {
				display: inline-block;
				padding: 0 15px;
				a {
					color: $white;
					&:hover {
						color: $black;
					}
					i {
						display: inline;
						margin-right: 10px;
						@include font-size(12);
					}
					h2 {
						display: inline;
						font-weight: 100;
					}
				}
			}
		}
		.copyright {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			i {
				@include font-size(7);
			}
		}
	}
}