.formContainer{
	padding: 6px;

	.formLabel {
		font-size: 24px;
		text-transform: uppercase;
	}

	.formControl {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #565656;
		padding: 8px 12px;
		// height: 13px;
		font-size: 14px;
		line-height: 1.42857143;
		margin-left: 20px;
		vertical-align: top;

		&:focus {
			border: 1px solid #aaa;
			outline: 0!important;
			color: #333;
		}

		&:disabled {
			cursor: not-allowed;
			background-color: #f5f5f5;
		}
	}

	.formFile {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #565656;
		padding: 8px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		margin-left: 20px;
		cursor: pointer;

		&:hover {
			border: 1px solid #aaa;
			outline: 0!important;
			color: #333;
		}
	}

	.submitBtn {
		background-color: #1dc7ea;
		color: white;
		width: 12%;
		font-size: 15px;
		margin-top: 20px;

		&:hover {
			background-color: #42d0ed;
			color: white;
			border-color: #42d0ed;
		}
	}

	.fileLoader {
		display: inline-block;
		margin-left: 20px;
		font-size: 24px;
		font-weight: bold;
		color: green;
	}
}

.textarea {
	width: 60%;
	height: auto;
}
