.formContainer{
	padding: 6px;

	.formLabel {
		font-size: 24px;
		text-transform: uppercase;
	}

	.formControl {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #565656;
		padding: 8px 12px;
		height: 13px;
		font-size: 14px;
		line-height: 1.42857143;
		margin-left: 20px;

		&:focus {
			border: 1px solid #aaa;
			outline: 0!important;
			color: #333;
		}
	}

	.formFile {
		background-color: #fff;
		box-shadow: none;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #565656;
		padding: 8px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		margin-left: 20px;
		cursor: pointer;

		&:hover {
			border: 1px solid #aaa;
			outline: 0!important;
			color: #333;
		}
	}
}
