.home-promotion {
	background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F01-home%2Fbg-promo.jpg?alt=media&token=fb808d01-5daf-40d5-817b-b4f1f3509fa2');
	background-size: cover;
	position: relative;
	padding: 0px 0 110px;
	@include breakpoint(tablet) {
		padding: 0 0 110px 0;
	}
	@include breakpoint(mobile) {
		padding: 0 0 100px 0;
	}
	.container {
		@include breakpoint(tablet) {
			width: 85%;
			margin: 0 auto;
		}
		.title {
			width: 15%;
			margin: 0 auto;
			@include breakpoint(mobile) {
				width: 40%;
			}
		}
		.home-promotion-inner {
			margin: 40px 0;
			ul {
				width: 100%;
				margin: 0 auto;
				text-align: center;
				li.each-promotion {
					display: inline-block;
					width: calc(100%/4);
					@include breakpoint(mobile) {
						width: 100%;
						margin: 15px 0;
					}
					a {
						.promotion-img {
							overflow: hidden;
							width: 230px;
							height: 230px;
							margin: 0 auto;
							@include breakpoint(tablet) {
								width: 150px;
								height: 150px;
							}
							@include breakpoint(tablet-wide) {
								width: 210px;
								height: 210px;
							}
							@include breakpoint(mobile) {
								width: 325px;
								height: 325px;
							}
							img {
								transition: transform 0.5s;
								&:hover {
									transform: scale(1.1);
								}
							}
						}
						.promotion-text {
							width: 92%;
							margin: 0 auto;
							padding-top: 20px;
							@include breakpoint(tablet) {
								width: 150px;
							}
							@include breakpoint(tablet-wide) {
								width: 210px;
							}
							@include breakpoint(mobile) {
								width: 325px;
							}
							h3 {
								color: $white;
								text-align: left;
								@include font-size(14);
								overflow: hidden;
							   	text-overflow: ellipsis;
							   	display: -webkit-box;
							   	-webkit-box-orient: vertical;
							   	-webkit-line-clamp: 1;
							   	line-height: 1; 
							   	max-height: 1*1;
								@include breakpoint(tablet) {
									@include font-size(12);
								}
								@include breakpoint(mobile) {
									@include font-size(16);
								}
								span {
									color: $green;
									font-weight: bold;
								}
							}
							p {
								color: $white;
								text-align: left;
								color: $red;
								font-weight: bold;
								@include font-size(12);
								@include breakpoint(tablet) {
									@include font-size(10);
								}
								@include breakpoint(mobile) {
									@include font-size(14);
								}
							}
						}
					}
				}
			}
		}
		.home-promotion-btn {
			a {
				width: 11%;
				margin: 0 auto;
				border: 1px solid $white;
				padding: 5px 15px;
				color: $white;
				text-align: center;
				@include font-size(14);
				@include breakpoint(tablet) {
					width: 14%;
					@include font-size(12);
				}
				@include breakpoint(mobile) {
					@include font-size(14);
					width: 30%;
				}
				&:hover {
					background: $white;
					color: $black;
					transition: 0.5s;
				}
			}
		}
	}
}