.home-promotion {
	background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F01-home%2Fbg-promo.jpg?alt=media&token=fb808d01-5daf-40d5-817b-b4f1f3509fa2');
	background-size: cover;
	position: relative;
	padding: 50px 0 120px;
	.title {
		width: 15%;
		margin: 0 auto;
	}
	.home-promotion-inner {
		margin: 30px 0;
		ul {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			li.each-promotion {
				display: inline-block;
				width: 280px;
				height: 280px;
				margin: 25px 20px;
				a {
					.promotion-img {
						overflow: hidden;
						img {
							transition: transform 0.5s;
							&:hover {
								transform: scale(1.1);
							}
						}
					}
					.promotion-text {
						width: 100%;
						margin: 0 auto;
						padding: 5px 0;
						h3 {
							color: $red;
							text-align: left;
							@include font-size(14);
						}
						p {
							color: $white;
							text-align: left;
						}
					}
				}
			}
		}
	}
	.home-promotion-btn {
		a {
			width: 10%;
			margin: 0 auto;
			border: 1px solid $white;
			padding: 5px 15px;
			color: $white;
			text-align: center;
			@include font-size(12);
			&:hover {
				background: $white;
				color: $black;
				transition: 0.5s;
			}
		}
	}
}