.home-ourbrands {
	background: $black;
	position: relative;
	padding: 50px 0;
	.title {
		width: 22%;
		margin: 0 auto;
	}
	.home-ourbrands-inner {
		ul {
			text-align: center;
			li.each-brand {
				display: inline-block;
				width: 22%;
				margin: 0 auto;
				padding: 0 8px;
				ul {
					li {
						display: block;
						overflow: hidden;
						&.brandname {
							padding-bottom: 20px;
							a {
								img {
									width: 70%;
								}
							}
						}
						&.brandimg {
							a {
								img {
									transition: transform 0.5s;
									&:hover {
										transform: scale(1.2);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}