.loginContainer {
	margin: 40px;

	.login {
		background-color: white;
		width: 25em;
		margin: auto;
		padding: 25px;

		.title {
			border-bottom: solid 1px rgb(182, 182, 182);
			text-align: center;
		}
			
		.content {
			margin-top: 12px;

			.loginButton {
				color: #fff;
				background-color: #1dc7ea;
				opacity: 1;
				border-color: #1dc7ea;
				padding: 8px 16px;
				cursor: pointer;
				font-size: 14px;
				border-radius: 4px;
				border: none;
				width: 35%;

				&:hover {
					background-color: #42d0ed;
				}
			}
		}
	}
}