.logo {
	position: absolute;
	z-index: 1;
	width: 170px;
	@include breakpoint(tablet) {
		width: 150px;
	}
	@include breakpoint(mobile) {
		width: 120px;
	}
	.language {
		width: 110px;
		margin: 0 auto;
		position: relative;
		top: -198px;
		@include breakpoint(tablet) {
			top: -176px;
		}
		ul {
			li {
				display: inline-block;
				width: calc(100%/3 - 8px);
				margin-right: 7px;
				&:first-child {
					margin-left: 7px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&.lang-pc {
			display: block;
			@include breakpoint(mobile) {
				display: none;
			}
		}
	}
}