.header {
	position: relative;
	.container {
		@include breakpoint(tablet) {
			width: 90%;
			margin: 0 auto;
		}
	}
	.bg-navbar {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-header.jpg?alt=media&token=690a92ea-6f42-470f-8a90-930210f4a551');
		background-size: cover;
		position: relative;
		.navbar {
			width: 100%;
			text-align: right;
			&.desktop {
				display: block;
				@include breakpoint(mobile) {
					display: none;
				}
			}
			&.mobile {
				display: none;
				@include breakpoint(mobile) {
					display: block;
				}
				.container {
					.hamburger {
						width: 40px;
						height: 40px;
						margin: 20px;
						display: block;
						cursor: pointer;
						position: absolute;
						right: 0;
						z-index: 1;
						span {
							display: block;
							height: 2px;
							background: $white;
							position: absolute;
							right: 0;
							opacity: 1;
							transition: 0.5s;
							transform-origin: center center;
							&:nth-child(1) {
								width: 100%;
							}
							&:nth-child(2) {
								width: 85%;
								margin: 10px 0;
							}
							&:nth-child(3) {
								width: 60%;
								margin: 20px 0;
							}
						}
						&.open {
							span {
								&:nth-child(1) {
									width: 80%;
									-webkit-transform: rotate(315deg) translateY(10px) translateX(-4px);
								    -moz-transform: rotate(315deg) translateY(10px) translateX(-4px);
								    -ms-transform: rotate(315deg) translateY(10px) translateX(-4px);
								    -o-transform: rotate(315deg) translateY(10px) translateX(-4px);
								    transform: rotate(315deg) translateY(10px) translateX(-4px);
								}
								&:nth-child(2) {
									opacity: 0;
								}
								&:nth-child(3) {
									width: 80%;
									-webkit-transform: rotate(45deg) translateY(-10px) translateX(-4px);
								    -moz-transform: rotate(45deg) translateY(-10px) translateX(-4px);
								    -ms-transform: rotate(45deg) translateY(-10px) translateX(-4px);
								    -o-transform: rotate(45deg) translateY(-10px) translateX(-4px);
								    transform: rotate(45deg) translateY(-10px) translateX(-4px);
								}
							}
						}
					}
					.navigation {
						position: absolute;
						right: 0;
						margin: 20px;
						.blur {
							filter: blur(10px) grayscale(35%);
						}
						ul {
							display: none;
							li {
								a {
									color: $white;
								}
							}
						}
						&.open {
							position: fixed;
							width: 100%;
							height: 100vh;
							margin: 0;
							ul {
								width: 52%;
								margin-top: 15%;
								li {
									border-bottom: 1px solid $white;
									padding: 18% 10%;
									a {
										color: $white;
										@include font-size(24);
										transition: 0.5s;
										display: block;
									}
								}
							}
						}
					}
				}
			}
			ul {
				margin: 0;
				position: relative;
				li {
					display: inline-block;
					margin-bottom: -4px;
					&:after {
						content: url("/static/images/00-nav/line-ver.png");
						position: absolute;
						top: 15px;
					}
					a {
						padding: 5px 8px 20px 8px;
						@include breakpoint(tablet) {
							padding: 2px 2px 12px 2px;
						}
						&:hover {
							background: #362f2d;
						}
						&.active {
							background: #362f2d;
						}
						.nav-index {
							background: url('/static/images/00-nav/01.png');
							width: 90px;
							height: 79px;
							&:hover {
								background: url('/static/images/00-nav/01-h.png');
							}
							&.active {
								background: url('/static/images/00-nav/01-h.png');
							}
						}
						.nav-about {
							background: url('/static/images/00-nav/02.png');
							width: 90px;
							height: 79px;
							&:hover {
								background: url('/static/images/00-nav/02-h.png');
							}
							&.active {
								background: url('/static/images/00-nav/02-h.png');
							}
						}
						.nav-brands {
							background: url('/static/images/00-nav/03.png');
							width: 90px;
							height: 79px;
							&:hover {
								background: url('/static/images/00-nav/03-h.png');
							}
							&.active {
								background: url('/static/images/00-nav/03-h.png');
							}
						}
						.nav-news {
							background: url('/static/images/00-nav/04.png');
							width: 90px;
							height: 79px;
							&:hover {
								background: url('/static/images/00-nav/04-h.png');
							}
							&.active {
								background: url('/static/images/00-nav/04-h.png');
							}
						}
						.nav-contact {
							background: url('/static/images/00-nav/05.png');
							width: 90px;
							height: 79px;
							&:hover {
								background: url('/static/images/00-nav/05-h.png');
							}
							&.active {
								background: url('/static/images/00-nav/05-h.png');
							}
						}
					}
				}
			}
			@include breakpoint(mobile) {
				&.desktop {
					display: none;
				}
				&.mobile {
					display: block;
				}
			}
		}
	}
}