.newsinfo {
	.newsbanner {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-news.jpg?alt=media&token=12d2a274-09a1-468e-9a10-1167341abdff');
		background-size: cover;
		background-attachment: fixed;
	}
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			@include breakpoint(mobile) {
				width: 100%;
			}
			ul {
				margin: 0;
				li {
					@include breakpoint(mobile) {
						display: inline-block;
						width: calc(100%/2);
					}
					&:first-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			min-height: 100vh;
			@include breakpoint(mobile) {
				width: 100%;
			}
			.eachcontent {
				padding: 25px;
				list-style: none;
				ul {
					@include breakpoint(tablet) {
						padding: 0;
					}
					li {
						display: inline-block;
						vertical-align: top;
						&.content-img {
							width: 30%;
							float: left;
							margin-right: 25px;
							@include breakpoint(tablet) {
								width: 40%;
							}
							@include breakpoint(tablet-wide) {
								width: 35%;
							}
							@include breakpoint(mobile) {
								width: 100%;
							}
							.detail-img {
								width: 300px;
								height: 200px;
								@include breakpoint(tablet) {
									width: 220px;
									height: 147px;
								}
								@include breakpoint(tablet-wide) {
									width: 250px;
									height: 167px;
								}
								@include breakpoint(mobile) {
									width: 100%;
									height: auto;
								}
							}
						}
						&.content-text {
							width: 65%;
							text-align: left;
							color: $white;
							@include breakpoint(tablet) {
								width: 55%;
							}
							@include breakpoint(tablet-wide) {
								width: 60%;
							}
							@include breakpoint(mobile) {
								width: 100%;
								margin-top: 15px;
							}
							.detail-info {
								h2.topic {
									@include font-size(18);
									&:hover {
										text-decoration: underline;
									}
								}
								h4.date {
									color: $white;
									font-weight: 100;
								}
								p.sub-content {
									@include font-size(14);
									line-height: 1.1;
									overflow: hidden;
									text-overflow: ellipsis;
									height: 145px;
									margin-top: 10px;
									@include breakpoint(tablet) {
										@include font-size(12);
										height: 85px;
									}
									@include breakpoint(tablet-wide) {
										height: 105px;
									}
									@include breakpoint(mobile) {
										height: 125px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}