.newsinfo {
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			ul {
				margin: 0;
				li {
					&:first-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(16);
						padding: 15px 10px 15px 150px;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			.eachcontent {
				padding: 0 40px 30px 40px;
				ul {
					li {
						display: inline-block;
						vertical-align: top;
						padding-right: 25px;
						&.content-img {
							width: 30%;
						}
						&.content-text {
							width: 64%;
							text-align: left;
							color: $white;
							p {
								@include font-size(14);
							}
						}
					}
				}
			}
		}
	}
}