.newsinfo {
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			ul {
				margin: 0;
				li {
					&:first-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(16);
						padding: 15px 10px 15px 150px;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			.eachcontent {
				padding: 0 40px 30px 40px;
				ul {
					li {
						display: inline-block;
						vertical-align: top;
						padding-right: 25px;
						&.content-img {
							width: 30%;
						}
						&.content-text {
							width: 64%;
							text-align: left;
							color: $white;
							p {
								@include font-size(14);
							}
						}
					}
				}
			}
		}
	}
}
// .newsinfo {
// 	position: relative;
// 	text-align: center;
// 	background: $black;
// 	.tab {
// 		margin: 0;
// 		.tabtopic {
// 			display: inline-block;
// 			width: 15%;
// 			vertical-align: top;
// 			background: $black;
// 			li {
// 				list-style: none;
// 				a {
// 					padding: 10px 15px;
// 					background: $black;
// 					color: $white;
// 					text-align: center;
// 					@include font-size(16);
// 					&.active, &:hover {
// 						background: $gray;
// 					}
// 				}
// 			}
// 		}
// 		.tabcontent {
// 			display: inline-block;
// 			width: 75%;
// 			background: $gray;
// 			padding: 40px 40px 100px;
// 			ul {
// 				li.eachcontent {
// 					display: inline-block;
// 					margin: 20px 0;
// 					ul {
// 						li {
// 							display: inline-block;
// 							&.content-img {
// 								width: 35%;
// 								vertical-align: top;
// 							}
// 							&.content-text {
// 								width: 58%;
// 								padding: 5px 20px;
// 								text-align: left;
// 								color: $white;
// 								p {
// 									@include font-size(12);
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }