.pagenumber {
	ul {
		li {
			display: inline-block;
			margin: 0 10px;
			a {
				color: $white;
				padding: 5px 10px;
				&.active, &:hover, &:active {
					background: $white;
					color: $gray;
				}
			}
		}
	}
}