.promotioninfo {
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			ul {
				margin: 0;
				li {
					&:last-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			padding: 50px 0 100px;
			ul.all-promotions {
				width: 90%;
				margin: 0 auto;
				text-align: center;
				padding: 40px 0;
				li.each-promotion {
					display: inline-block;
					width: calc(100%/3);
					margin-bottom: 25px;
					a {
						.promotion-text {
							width: 87%;
							margin: 0 auto;
							padding: 5px 0;
							h3 {
								color: $red;
								text-align: left;
								@include font-size(14);
							}
							p {
								color: $white;
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}