.promotioninfo {
	.promotionbanner {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-news.jpg?alt=media&token=12d2a274-09a1-468e-9a10-1167341abdff');
		background-size: cover;
		background-attachment: fixed;
	}
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			@include breakpoint(mobile) {
				width: 100%;
			}
			ul {
				margin: 0;
				li {
					@include breakpoint(mobile) {
						display: inline-block;
						width: 50%;
					}
					&:last-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			padding: 50px 0 80px;
			min-height: 100vh;
			@include breakpoint(tablet) {
				padding: 25px 0 100px;
			}
			@include breakpoint(mobile) {
				width: 100%;
			}
			select.brands-filter {
				font-family: psl_kanda;
				@include font-size(14);
				border: 2px solid #555;
				background: $black;
				color: $white;
				outline: none;
				padding: 3px 10px;
			}
			ul.all-promotions {
				width: 95%;
				margin: 0 auto;
				text-align: left;
				margin-top: 32px;
				@include breakpoint(tablet) {
					margin-top: 10px;
				}
				li.each-promotion {
					display: inline-block;
					width: calc(100%/3);
					margin-top: 20px;
					@include breakpoint(tablet) {
						width: calc(100%/2);
					}
					@include breakpoint(mobile) {
						width: 100%;
					}
					a {
						width: 280px;
						height: 280px;
						margin: 0 auto;
						@include breakpoint(tablet) {
							width: 250px;
							height: 250px;
						}
						.promotion-text {
							margin-top: 10px;
							h3 {
								color: $white;
								text-align: left;
								@include font-size(14);
								span {
									color: $green;
								}
							}
							p {
								color: $red;
								text-align: left;
								@include font-size(12);
							}
						}
					}
				}
			}
		}
	}
}