.promotiondetailelement {
	overflow: hidden;
	.promotiondetailbanner {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-news.jpg?alt=media&token=12d2a274-09a1-468e-9a10-1167341abdff');
		background-size: cover;
		background-attachment: fixed;
	}
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			ul {
				margin: 0;
				li {
					&:last-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 74%;
			text-align: center;
			background: $gray;
			padding: 50px 40px 100px;
			.head-detail {
				text-align: left;
				width: 90%;
				margin: 0 auto;
				padding-bottom: 40px;
				h1.title-detail {
					color: $white;
					span {
						color: $green;
					}
				}
				h3.date-detail {
					color: $red;
				}
			}
			.image-detail {
				width: 280px;
				height: 280px;
				margin: 0 auto;
			}
			.content-detail {
				width: 90%;
				margin: 0 auto;
				p {
					color: $white;
					text-align: left;
					@include font-size(14);
					margin-top: 40px;
				}
				ul {
					li {
						list-style: none;
						color: $white;
						@include font-size(14);
						text-align: left;
					}
				}
			}
		}
	}
}