.promotiondetailelement {
	overflow: hidden;
	.promotiondetailbanner {
		background: url('https://firebasestorage.googleapis.com/v0/b/tummour-original.appspot.com/o/static%2Fimages%2F00-global%2Fbg-news.jpg?alt=media&token=12d2a274-09a1-468e-9a10-1167341abdff');
		background-size: cover;
		background-attachment: fixed;
	}
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			@include breakpoint(mobile) {
				width: 100%;
			}
			ul {
				margin: 0;
				li {
					@include breakpoint(mobile) {
						display: inline-block;
						width: 50%;
					}
					&:last-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			min-height: 100vh;
			@include breakpoint(mobile) {
				width: 100%;
			}
			.detail-info {
				padding: 30px 90px 100px;
				@include breakpoint(mobile) {
					padding: 30px;
				}
				.head-detail {
					text-align: left;
					margin-bottom: 30px;
					h1.title-detail {
						color: $white;
						@include font-size(24);
						@include breakpoint(tablet) {
							@include font-size(20);
						}
						span {
							color: $green;
						}
					}
					h3.date-detail {
						color: $red;
					}
				}
				.image-detail {
					width: 280px;
					height: 280px;
					margin: 0 auto;
				}
				.content-detail {
					p {
						color: $white;
						text-align: left;
						@include font-size(14);
						margin-top: 40px;
					}
					ul {
						li {
							list-style: none;
							color: $white;
							@include font-size(14);
							text-align: left;
						}
					}
				}
			}
		}
	}
}