.promotioninfo {
	.tab {
		.tabtopic {
			display: inline-block;
			width: 20%;
			vertical-align: top;
			ul {
				margin: 0;
				li {
					&:last-child {
						background: $gray;
					}
					a {
						color: $white;
						@include font-size(18);
						text-align: center;
						padding: 20px 0;
						&:hover {
							background: $gray;
						}
					}
				}
			}
		}
		.tabcontent {
			display: inline-block;
			width: 80%;
			text-align: center;
			background: $gray;
			padding: 50px 0 100px;
			select.brands-filter {
				font-family: psl_kanda;
				@include font-size(14);
				border: 2px solid #555;
				background: $black;
				color: $white;
				outline: none;
				padding: 3px 10px;
			}
			ul.all-promotions {
				width: 90%;
				margin: 0 auto;
				text-align: left;
				li.each-promotion {
					display: inline-block;
					width: 280px;
					height: 280px;
					margin: 30px 20px;
					a {
						.promotion-text {
							width: 87%;
							margin: 0 auto;
							padding: 5px 0;
							h3 {
								color: $white;
								text-align: left;
								@include font-size(14);
								span {
									color: $green;
								}
							}
							p {
								color: $red;
								text-align: left;
								@include font-size(12);
							}
						}
					}
				}
			}
		}
	}
}