.sidebarLogoAdmin {
	padding: 18px 30px;
	border-bottom: 1px solid hsla(0,0%,100%,.2);
	text-align: center;

	a {
		cursor: pointer;
		text-transform: uppercase;
		font-size: 24px;
		color: #fff;
		font-weight: 800;
		letter-spacing: 2px;
	}
}

.sidebarWrapperAdmin {
	position: relative;
	height: calc(100vh - 75px);
	overflow: auto;
	width: 260px;
	padding-bottom: 30px;

	ul {
		list-style: none;
		margin-top: 20px;
		margin-bottom: 0;
		padding: 0;

		li {
			position: relative;
			display: block;

			a {
				position: relative;
				display: block;
				color: #fff;
				margin: 5px 15px;
				opacity: .86;
				border-radius: 4px;
				padding: 16px 50px;
				font-size: 22px;
				font-weight: 800;
				letter-spacing: 1px;
				cursor: pointer;

				&:hover {
					color: #fff;
					background: hsla(0,0%,100%,.13);
				}

				&.active {
					color: #fff;
					opacity: 1;
					background: hsla(0,0%,100%,.23);
				}
			}
		}
	}
}